<plugins>
  <pyqgis_plugin name="export_import" version="0.2">
    <description>Exporter via polygone - Importer par couche</description>
    <homepage>https://github.com/pce-services/export_import</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>export_import-main.zip</file_name>
    <download_url>https://github.com/pce-services/export_import/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="calculsio" version="0.1">
    <description>Calcul automatique des FU</description>
    <homepage>https://github.com/pce-services/calculsio</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>calculsio-main.zip</file_name>
    <download_url>https://github.com/pce-services/calculsio/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="import_style" version="0.1">
    <description>Importer style</description>
    <homepage>https://github.com/pce-services/import_style</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>import_style-main.zip</file_name>
    <download_url>https://github.com/pce-services/import_style/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="siobuilder" version="0.1">
    <description></description>
    <homepage>https://github.com/pce-services/siobuilder</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>siobuilder-main.zip</file_name>
    <download_url>https://github.com/pce-services/siobuilder/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="exportsro" version="0.1">
    <description>Permet d'exporter un SRO de la BDD</description>
    <homepage>https://github.com/pce-services/exportsro</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>exportsro-main.zip</file_name>
    <download_url>https://github.com/pce-services/exportsro/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="ca" version="0.1">
    <description>Assistant service CA</description>
    <homepage>https://github.com/pce-services/ca</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>ca-main.zip</file_name>
    <download_url>https://github.com/pce-services/ca/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
    <pyqgis_plugin name="copier_cle_primaire" version="0.1">
    <description></description>
    <homepage>https://github.com/pce-services/copier_cle_primaire</homepage>
    <author_name>Dylan D'antonio</author_name>
    <file_name>copier_cle_primaire-main.zip</file_name>
    <download_url>https://github.com/pce-services/copier_cle_primaire/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
    <pyqgis_plugin name="athd" version="0.31">
    <description>Assistant PCE Services pour le projet ATHD</description>
    <homepage>https://github.com/pce-services/athd</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>athd.zip</file_name>
    <download_url>https://github.com/pce-services/athd/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
    <pyqgis_plugin name="gestionnaire_extensions" version="1.8">
    <homepage>https://github.com/pce-services/gestionnaire_extensions</homepage>
    <author_name>Dylan D'antonio</author_name>
    <file_name>gestionnaire_extensions.zip</file_name>
    <download_url>https://github.com/pce-services/gestionnaire_extensions/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
    <description>Ce plugin simplifie la gestion des plugins en permettant l'installation, la désinstallation et les mises à jour automatiques des plugins de l'organisation via GitHub.</description>
  </pyqgis_plugin>
    <pyqgis_plugin name="generation_etiquette" version="0.1">
    <description></description>
    <homepage>https://github.com/pce-services/generation_etiquette</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>generation_etiquette.zip</file_name>
    <download_url>https://github.com/pce-services/generation_etiquette/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="consultation_geo" version="0.5">
    <description></description>
    <homepage>https://github.com/pce-services/consultation_geo</homepage>
    <author_name>Dylan D'antonio</author_name>
    <file_name>consultation_geo.zip</file_name>
    <download_url>https://github.com/pce-services/consultation_geo/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="fibees" version="0.1">
    <description>Synchronisez vos données QGis avec votre application Fibees</description>
    <homepage>https://github.com/pce-services/fibees</homepage>
    <author_name>Dylan D'antonio</author_name>
    <file_name>consultation_geo.zip</file_name>
    <download_url>https://github.com/pce-services/fibees/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
</plugins>
