<plugins>
  
  
  <pyqgis_plugin name="import_style" version="1.0">
    <description>Importer style</description>
    <homepage>https://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@github.com/pce-services/import_style</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>import_style-main.zip</file_name>
    <download_url>https://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@github.com/pce-services/import_style/archive/refs/heads/master.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="athd" version="0.56">
    <description>Assistant PCE Services pour le projet ATHD</description>
    <homepage>https://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@github.com/pce-services/athd</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>athd.zip</file_name>
    <download_url>https://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@github.com/pce-services/athd/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="consultation_geo" version="0.5">
    <description></description>
    <homepage>https://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@github.com/pce-services/consultation_geo</homepage>
    <author_name>Dylan D'antonio</author_name>
    <file_name>consultation_geo.zip</file_name>
    <download_url>https://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@github.com/pce-services/consultation_geo/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  
  <pyqgis_plugin name="maj_suivi_comac" version="0.9">
    <description>Mettre à jour le suivi_comac à partir d'un export_brut</description>
    <homepage>https://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@github.com/pce-services/maj_suivi_comac</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>maj_suivi_comac.zip</file_name>
    <download_url>https://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@github.com/pce-services/maj_suivi_comac/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="filtre" version="0.1">
    <description>Appliquer un filtre à plusieurs couches</description>
    <homepage>https://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@github.com/pce-services/filtre</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>filtre.zip</file_name>
    <download_url>https://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@github.com/pce-services/filtre/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="importkizeogeo" version="0.1">
    <description>Importer des Kizeo dans Geo</description>
    <homepage>https://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@github.com/pce-services/importkizeogeo</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>importkizeogeo.zip</file_name>
    <download_url>https://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@github.com/pce-services/importkizeogeo/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="controle_livrable_manche" version="0.0.3">
    <description>Contrôler les livrables Altitude DPR et DOE Manche</description>
    <homepage>https://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@github.com/pce-services/controle_livrable_manche</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>controle_livrable_manche.zip</file_name>
    <download_url>https://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@github.com/pce-services/controle_livrable_manche/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="filter_kizeo_features" version="0.6">
    <description>Importer et filtrer la couche boite optique a partir des PDF présents dans le NAS Kizeo</description>
    <homepage>https://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@github.com/pce-services/filter_kizeo_features</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>controle_livrable_manche.zip</file_name>
    <download_url>https://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@github.com/pce-services/filter_kizeo_features/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  
  <pyqgis_plugin name="owf_summary" version="0.3">
    <description>Créer des résumés Excel des données OWF</description>
    <homepage>https://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@github.com/pce-services/owf_summary</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>owf_summary.zip</file_name>
    <download_url>https://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@github.com/pce-services/owf_summary/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="owf_manche" version="0.5">
    <description>Mise à jour automatique OWF</description>
    <homepage>https://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@github.com/pce-services/owf_manche</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>owf_manche.zip</file_name>
    <download_url>https://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@github.com/pce-services/owf_manche/archive/refs/heads/main.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
  <pyqgis_plugin name="pce_sync" version="0.2">
    <description>Création et synchronisation des projets mobiles</description>
    <homepage>https://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@github.com/pce-services/pce_sync</homepage>
    <author_name>Romain Lagrange</author_name>
    <file_name>pce_sync.zip</file_name>
    <download_url>https://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@github.com/pce-services/pce_sync/releases/download/v1/pce_sync.zip</download_url>
    <qgis_minimum_version>3.0.0</qgis_minimum_version>
    <experimental>false</experimental>
    <tags>pce</tags>
  </pyqgis_plugin>
</plugins>
